# Hands on timeseries analysis
### part2 : Handling timeseries data using pandas

<div style="text-align: right"> <b>Author : Kwang Myung Yu</b></div>

<div style="text-align: right"> Initial upload: 2020.07.20 </div> 
<div style="text-align: right"> Last update: 2020.07.20 </div>

This is a basic tutorial for timesseries analysis. In this tutorial, you will learn how to read, modify, visualize, and analyze timeseries data.

### 0. Library import

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings; warnings.filterwarnings('ignore')
plt.style.use('ggplot')
%matplotlib inline

pd.set_option('display.max_rows', 500)

### 1. read_csv()로 데이터 읽어오기

애플 주식 데이터 읽기

In [16]:
url = 'https://raw.githubusercontent.com/sguys99/datasets/master/apple_stock.csv'
stock = pd.read_csv(url)

In [17]:
stock.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2009-12-31,30.478571,30.080000,30.447144,30.104286,88102700.0,20.159719
1,2010-01-04,30.642857,30.340000,30.490000,30.572857,123432400.0,20.473503
2,2010-01-05,30.798571,30.464285,30.657143,30.625713,150476200.0,20.508902
3,2010-01-06,30.747143,30.107143,30.625713,30.138571,138040000.0,20.182680
4,2010-01-07,30.285715,29.864286,30.250000,30.082857,119282800.0,20.145369

컬럼의 데이터 타입 확인하기

In [18]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265 entries, 0 to 2264
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2265 non-null   object
 1   High       2265 non-null   float64
 2   Low        2265 non-null   float64
 3   Open       2265 non-null   float64
 4   Close      2265 non-null   float64
 5   Volume     2265 non-null   float64
 6   Adj Close  2265 non-null   float64
dtypes: float64(6), object(1)
memory usage: 124.0+ KB

- `Date` 컬럼의 데이터 타입이 문자열이다.

### 2. Datetime 인덱스 생성하기

`Date` 컬럼의 데이터 타입을 `datetime`으로 변경한다.  
`pandas`의 `to_datetime` 메서드를 사용한다.

In [19]:
stock['Date'] = stock['Date'].apply(pd.to_datetime)

In [20]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265 entries, 0 to 2264
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2265 non-null   datetime64[ns]
 1   High       2265 non-null   float64
 2   Low        2265 non-null   float64
 3   Open       2265 non-null   float64
 4   Close      2265 non-null   float64
 5   Volume     2265 non-null   float64
 6   Adj Close  2265 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 124.0 KB

`Date`컬럼을 인덱스로 설정한다.

In [21]:
stock = stock.set_index('Date')

In [22]:
stock.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2009-12-31  30.478571  30.080000  30.447144  30.104286   88102700.0  20.159719
2010-01-04  30.642857  30.340000  30.490000  30.572857  123432400.0  20.473503
2010-01-05  30.798571  30.464285  30.657143  30.625713  150476200.0  20.508902
2010-01-06  30.747143  30.107143  30.625713  30.138571  138040000.0  20.182680
2010-01-07  30.285715  29.864286  30.250000  30.082857  119282800.0  20.145369

### 3. groupby를 활용한 row 재조합

월별 합계 데이터로 재조합 한다.  
먼저 `month`컬럼을 생성하고, 이 컬럼을 기준으로 groupby를 실행하여 재조합한다.

'month' 컬럼 생성하기  
앞에서 `datetime` 타입은 `.year`, `.month`, `.day` 등의 메서드를 사용하여 일부 정보를 추출할 수 있다고 하였다.

In [23]:
stock['month'] = stock.index.month

In [24]:
stock.head()

,High,Low,Open,Close,Volume,Adj Close,month
Date,,,,,,,
2009-12-31,30.478571,30.080000,30.447144,30.104286,88102700.0,20.159719,12
2010-01-04,30.642857,30.340000,30.490000,30.572857,123432400.0,20.473503,1
2010-01-05,30.798571,30.464285,30.657143,30.625713,150476200.0,20.508902,1
2010-01-06,30.747143,30.107143,30.625713,30.138571,138040000.0,20.182680,1
2010-01-07,30.285715,29.864286,30.250000,30.082857,119282800.0,20.145369,1

월별 합계 데이터로 재조합 하기

In [25]:
stock.groupby('month').sum()

,High,Low,Open,Close,Volume,Adj Close
month,,,,,,
1,16141.351418,15840.451458,16007.617104,15989.401403,1.748822e+10,14038.491524
2,15739.942860,15445.045748,15572.844261,15607.478556,1.511651e+10,13799.143261
3,18676.318544,18358.607164,18522.812897,18516.759998,1.646522e+10,16387.278601
4,17763.422855,17444.350006,17612.804337,17595.992851,1.656252e+10,15549.686649
5,18874.642849,18552.902849,18711.531479,18731.747120,1.595049e+10,16741.255772
6,19040.630035,18743.354290,18909.838608,18881.168510,1.427367e+10,16927.685444
7,18908.574245,18616.531422,18760.998562,18775.181419,1.403693e+10,16779.291849
8,21322.417149,20943.891430,21113.692909,21152.527245,1.505109e+10,19060.226547
9,19596.267178,19222.517181,19423.325752,19400.800022,1.547466e+10,17478.810833
10,21670.588585,21245.169964,21466.111412,21471.372849,1.579270e+10,19412.855421
11,19932.064278,19547.734276,19761.048534,19746.541416,1.301104e+10,17929.619272
12,19514.165709,19137.724298,19344.287140,19309.390026,1.223923e+10,17473.007708

같은 방법으로 연도별 합계 데이터로 재조합 하기

In [26]:
stock.groupby(stock.index.year).sum()

,High,Low,Open,Close,Volume,Adj Close,month
Date,,,,,,,
2009,30.478571,30.080000,30.447144,30.104286,8.810270e+07,20.159719,12
2010,9445.277117,9246.514246,9358.474289,9354.328560,3.775623e+10,6264.245874,1659
2011,13227.248539,12970.717155,13106.211399,13104.155712,3.101483e+10,8775.365667,1650
2012,20779.478600,20354.327164,20594.740028,20573.204269,3.299105e+10,14019.096821,1625
2013,17195.001381,16856.895695,17032.612881,17014.855690,2.560539e+10,13377.068882,1649
2014,23439.191429,23051.835686,23239.397186,23250.692886,1.591449e+10,21242.415085,1651
2015,30553.620010,29953.500031,30284.289993,30250.079948,1.306315e+10,28458.719048,1655
2016,26567.650009,26129.949989,26335.959984,26360.209991,9.680622e+09,25313.373260,1652
2017,38002.920044,37521.400078,37761.670013,37788.319946,6.810426e+09,36972.054916,1640
2018,47939.520004,46983.060043,47463.110077,47452.410126,8.537986e+09,47134.853607,1633

각 연도의 월별 합계 데이터 구하기

In [27]:
stock.groupby([stock.index.year, stock.index.month]).sum()

                  High          Low         Open        Close        Volume  \
Date Date
2009 12      30.478571    30.080000    30.447144    30.104286  8.810270e+07
2010 1      573.331425   557.244289   568.397141   563.798571  3.792249e+09
     2      544.092857   532.875715   537.678570   539.588568  2.694020e+09
     3      738.235716   727.080000   732.047146   734.064285  3.038543e+09
     4      759.410004   744.359997   753.004292   753.445721  3.091782e+09
     5      730.337135   699.494276   719.941429   718.461422  4.520664e+09
     6      832.535709   812.074276   824.641434   820.742855  4.162813e+09
     7      775.377140   753.262863   766.438568   764.849998  3.917426e+09
     8      797.491417   783.245712   790.775719   789.872864  2.397280e+09
     9      827.359993   811.739990   818.522850   821.552849  2.962480e+09
     10     909.855713   893.007137   901.279999   902.802849  3.058644e+09
     11     941.915722   926.407131   934.340004   934.764286  2.377022e+09
     12    1015.334286  1005.722858  1011.407139  1010.384293  1.743309e+09
2011 1      973.799992   955.328583   964.618561   966.800003  2.710384e+09
     2      958.600002   944.887138   950.895706   953.210007  2.323987e+09
     3     1151.114277  1131.195709  1143.562855  1141.755714  2.826615e+09
     4      981.997139   965.321423   975.171432   972.615704  2.313457e+09
     5     1032.851433  1018.240005  1025.958569  1025.354282  1.728015e+09
     6     1051.567142  1031.604290  1043.190010  1040.541424  2.315963e+09
     7     1071.921425  1050.395718  1058.758564  1063.537140  2.663487e+09
     8     1254.649998  1219.489994  1239.569992  1237.934288  4.035650e+09
     9     1191.664288  1164.200008  1177.138565  1177.480000  2.994362e+09
     10    1205.449989  1174.577141  1190.231430  1191.690002  3.285357e+09
     11    1166.638569  1145.058582  1158.804287  1154.445717  2.240925e+09
     12    1186.994286  1170.418564  1178.311428  1178.791431  1.576633e+09
2012 1     1231.452858  1216.601433  1225.028564  1224.508568  1.714964e+09
     2     1430.997147  1404.107147  1413.722862  1421.631432  2.842139e+09
     3     1829.345703  1792.201431  1812.982857  1815.024284  3.896084e+09
     4     1758.535728  1710.428566  1741.735703  1731.437141  3.899748e+09
     5     1798.158585  1754.962852  1778.181435  1774.687134  2.776586e+09
     6     1736.667137  1707.640007  1723.982849  1723.687134  1.963956e+09
     7     1814.762848  1784.041435  1798.830002  1803.204292  2.227413e+09
     8     2124.724297  2093.454285  2107.877151  2111.715714  2.069052e+09
     9     1864.735718  1835.115723  1851.464294  1849.971443  2.299751e+09
     10    1930.951424  1884.641434  1916.001450  1904.142845  3.035708e+09
     11    1717.104286  1671.227142  1701.115715  1693.037148  3.232463e+09
     12    1542.042870  1499.905708  1523.817146  1520.157135  3.033188e+09
2013 1     1513.222855  1478.909996  1500.250000  1493.467144  3.280856e+09
     2     1257.341438  1227.145725  1244.510006  1239.910015  2.336008e+09
     3     1276.581413  1249.537151  1262.890015  1262.402851  2.294219e+09
     4     1337.452854  1303.412857  1319.267132  1319.261421  2.740872e+09
     5     1419.497150  1387.557140  1402.974285  1403.137150  2.361883e+09
     6     1232.201431  1205.865719  1222.748573  1215.822853  1.754634e+09
     7     1359.852852  1335.421432  1345.951424  1348.779999  1.634529e+09
     8     1537.861420  1509.661430  1521.330002  1523.794281  2.014585e+09
     9     1388.307137  1362.461414  1379.349998  1371.955711  2.157735e+09
     10    1671.531418  1641.354286  1656.488579  1658.447144  1.959433e+09
     11    1508.085709  1486.351418  1494.908569  1498.904282  1.306289e+09
     12    1693.065704  1669.217125  1681.944298  1678.972839  1.764349e+09
2014 1     1628.534271  1599.197136  1614.302879  1612.337143  2.191489e+09
     2     1440.671432  1417.200005  1426.957138  1429.288567  1.470092e+09
     3     1609.361435  1590.212852  1600.779991  1599.642838  1.250425e+09
     4     1633.047157  1608.787132  1620.245728  1623.222870  1.608765e+09
     5     1819.118561  1794.998573  1803.905708  1809.587166  1.433917e+09
     6     1943.978592  1914.930000  1930.165703  1929.594292  1.206935e+09
     7     2121.029976  2086.459984  2106.040009  2103.769989  1.035086e+09
     8     2076.560005  2050.729988  2061.140007  2067.169998  9.370770e+08
     9     2135.730003  2090.630005  2112.980011  2111.520012  1.526420e+09
     10    2358.190002  2318.699989  2337.720001  2339.090012  1.360280e+09
     11    2165.510002  2131.280014  2145.279999  2152.419991  8.204082e+08
     12    2507.459991  2448.710007  2479.880013  2473.050011  1.073595e+09
2015 1     2245.080009  2186.639992  2223.279991  2212.830017  1.304644e+09
     2     2396.750015  2356.590004  2375.449974  2383.209991  1.136535e+09
     3     2803.599983  2749.690018  2782.260017  2771.359985  1.138642e+09
     4     2696.869987  2650.720016  2678.240013  2673.119980  9.961355e+08
     5     2595.420013  2553.259995  2574.150017  2575.229996  9.541521e+08
     6     2832.750000  2799.300018  2816.299988  2811.749985  8.785126e+08
     7     2776.480011  2735.479996  2759.910004  2757.380005  1.057507e+09
     8     2425.499992  2337.110001  2382.229996  2381.290009  1.605978e+09
     9     2398.349991  2342.000015  2373.260002  2368.749992  1.206547e+09
     10    2510.910004  2461.259979  2484.339996  2493.919998  1.112323e+09
     11    2385.440002  2345.129997  2364.359993  2363.249992  7.506406e+08
     12    2486.470001  2436.320000  2470.510002  2457.989998  9.215297e+08
2016 1     1899.039993  1841.639999  1875.419998  1870.149979  1.271024e+09
     2     1934.549995  1894.230011  1913.919991  1914.930000  8.108626e+08
     3     2307.740005  2271.089981  2283.970009  2293.880005  7.460496e+08
     4     2262.940002  2222.960014  2242.500008  2241.520004  8.723962e+08
     5     2009.589989  1975.029991  1994.130013  1994.469994  9.003181e+08
     6     2144.510010  2111.320000  2124.950005  2125.690002  7.790557e+08
     7     1983.279999  1960.049995  1969.019989  1971.129997  6.857796e+08
     8     2487.230011  2460.689995  2471.650002  2476.300018  6.301285e+08
     9     2346.650017  2305.960007  2324.140015  2327.999992  9.680156e+08
     10    2444.150002  2413.769981  2430.619980  2429.850006  6.869143e+08
     11    2332.439995  2288.760017  2311.729988  2313.239990  7.213055e+08
     12    2415.529991  2384.449997  2393.909988  2401.050003  6.087717e+08
2017 1     2397.619995  2375.710007  2381.869987  2391.399994  5.631220e+08
     2     2549.070007  2523.899986  2531.460014  2540.569977  5.749686e+08
     3     3247.550003  3213.309982  3228.330002  3234.210007  5.616284e+08
     4     2728.360001  2704.219986  2717.570023  2714.849991  3.733041e+08
     5     3367.349991  3324.390015  3343.249985  3349.009979  6.539818e+08
     6     3279.949997  3224.819992  3260.730026  3252.289963  6.841781e+08
     7     2983.529999  2942.110031  2961.930008  2965.989990  4.220119e+08
     8     3683.490021  3629.480026  3655.780029  3657.490036  6.610690e+08
     9     3177.390030  3128.930008  3162.180008  3152.169998  6.803741e+08
     10    3488.910004  3446.750031  3461.829956  3471.979996  5.042913e+08
     11    3641.990005  3590.809998  3622.299988  3620.530014  6.006634e+08
     12    3457.709991  3416.970016  3434.439987  3437.830002  5.308335e+08
2018 1     3679.270020  3629.180023  3654.449982  3654.109985  6.594873e+08
     2     3227.869965  3144.110016  3178.250000  3185.139999  9.278943e+08
     3     3712.790009  3634.290039  3675.990005  3664.420029  7.130109e+08
     4     3604.809982  3534.140015  3565.070007  3566.520020  6.660579e+08
     5     4102.319992  4044.970001  4069.040039  4081.809998  6.209763e+08
     6     3986.470016  3935.799988  3963.130020  3961.050003  5.276245e+08
     7     4022.339996  3969.309967  3994.119995  3996.540009  3.936914e+08
     8     4934.909988  4860.029999  4883.340012  4906.960037  7.002737e+08
     9     4266.080002  4181.480011  4224.290009  4219.400024  6.789720e+08
     10    5150.640030  5011.109985  5087.600021  5079.449997  7.897485e+08
     11    4072.939987  3962.709976  4028.209991  4015.949997  9.613264e+08
     12    3179.080017  3075.930023  3139.619995  3121.060028  8.989225e+08

             Adj Close  month
Date Date
2009 12      20.159719     12
2010 1      377.554930     19
     2      361.342400     38
     3      491.575537     69
     4      504.554579     84
     5      481.126873    100
     6      549.620947    132
     7      512.191607    147
     8      528.948475    176
     9      550.163418    189
     10     604.573469    210
     11     625.976896    231
     12     676.616745    264
2011 1      647.430040     20
     2      638.329285     38
     3      764.591324     69
     4      651.324560     80
     5      686.641624    105
     6      696.811869    132
     7      712.211285    140
     8      828.998539    184
     9      788.514557    189
     10     798.030468    210
     11     773.089329    231
     12     789.392788    252
2012 1      820.007877     20
     2      952.013706     40
     3     1215.454231     66
     4     1159.479080     80
     5     1188.442024    110
     6     1154.289120    126
     7     1207.538879    147
     8     1446.861942    184
     9     1277.075005    171
     10    1314.470627    210
     11    1199.570835    231
     12    1083.893494    240
2013 1     1064.863159     21
     2      913.648190     38
     3      938.162727     60
     4      980.417534     88
     5     1079.139877    110
     6      947.142288    120
     7     1050.717663    154
     8     1231.764507    176
     9     1120.207260    180
     10    1354.128674    230
     11    1267.928143    220
     12    1428.948860    252
2014 1     1372.236149     21
     2     1261.267391     38
     3     1420.601990     63
     4     1441.542870     84
     5     1656.806808    105
     6     1782.945076    126
     7     1943.883400    154
     8     1917.811005    168
     9     1960.749054    189
     10    2172.069687    230
     11    2006.079346    209
     12    2306.422310    264
2015 1     2063.735268     20
     2     2230.093857     38
     3     2594.833488     66
     4     2502.850967     84
     5     2419.279449    100
     6     2643.647499    132
     7     2592.528061    154
     8     2247.574188    168
     9     2237.213562    189
     10    2355.432892    220
     11    2240.094543    220
     12    2331.435272    264
2016 1     1773.861488     19
     2     1824.713295     40
     3     2187.581169     66
     4     2137.647522     84
     5     1911.983086    105
     6     2039.527550    132
     7     1891.232445    140
     8     2387.152748    184
     9     2245.737114    189
     10    2343.988197    210
     11    2241.850868    231
     12    2328.097778    252
2017 1     2318.740952     20
     2     2470.778885     38
     3     3149.539642     69
     4     2643.776230     76
     5     3269.984604    110
     6     3180.219025    132
     7     2900.263428    140
     8     3586.263855    184
     9     3094.421860    180
     10    3408.372849    220
     11    3562.712875    231
     12    3386.980713    240
2018 1     3600.061661     21
     2     3146.956253     38
     3     3624.938492     63
     4     3528.093307     84
     5     4047.851425    110
     6     3933.482071    126
     7     3968.725082    147
     8     4884.851288    184
     9     4204.729004    171
     10    5061.788559    230
     11    4012.316437    231
     12    3121.060028    228

### 4. resampling을 활용한 row 재조합

`resample` 메서드를 사용하면, 시계열 재조합을 더 용이하게 할 수 있다.  
단, `rule` 인자를 사용해야 한다.

freq 관련 주요 인자는 다음과 같다.  [[참고자료]](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases)
- H: 시간(hour)
- D: 일(day)
- B: 주말이 아닌 평일
- W: 주(일요일)
- M: 각 달(month)의 마지막 날
- MS: 각 달의 첫날
- BM: 주말이 아닌 평일 중에서 각 달의 마지막 날
- BMS: 주말이 아닌 평일 중에서 각 달의 첫날
- A, Y: 각 연도(year)의 마지막날

연도별 평균 구하기

In [28]:
stock.resample(rule = 'A').mean() # annual

,High,Low,Open,Close,Volume,Adj Close,month
Date,,,,,,,
2009-12-31,30.478571,30.080000,30.447144,30.104286,8.810270e+07,20.159719,12.000000
2010-12-31,37.481258,36.692517,37.136803,37.120351,1.498263e+08,24.858119,6.583333
2011-12-31,52.489082,51.471100,52.008775,52.000618,1.230747e+08,34.822880,6.547619
2012-12-31,83.117914,81.417309,82.378960,82.292817,1.319642e+08,56.076387,6.500000
2013-12-31,68.234132,66.892443,67.589734,67.519269,1.016087e+08,53.083607,6.543651
2014-12-31,93.012664,91.475538,92.219830,92.264654,6.315273e+07,84.295298,6.551587
2015-12-31,121.244524,118.863095,120.175754,120.040000,5.183789e+07,112.931425,6.567460
2016-12-31,105.427183,103.690278,104.507778,104.604008,3.841516e+07,100.449894,6.555556
2017-12-31,151.406056,149.487650,150.444900,150.551075,2.713317e+07,147.299024,6.533865
2018-12-31,190.994104,187.183506,189.096056,189.053427,3.401588e+07,187.788261,6.505976

여기서 2009년 평균 값을 알고 싶다면 다음과 같이 실행한다.

In [29]:
stock.resample(rule = 'A').mean()['2009']

,High,Low,Open,Close,Volume,Adj Close,month
Date,,,,,,,
2009-12-31,30.478571,30.08,30.447144,30.104286,88102700.0,20.159719,12.0

custom resampling : `sum`, `mean` 대신 임의의 기준으로 row를 조합하고자 할 때  
ex) 매년 첫째날 데이터로 표시

In [30]:
#샘플의 첫째날을 리턴하는 함수
def first_day(values):
    return values[0]

In [31]:
stock.resample(rule = 'A').apply(first_day)

,High,Low,Open,Close,Volume,Adj Close,month
Date,,,,,,,
2009-12-31,30.478571,30.080000,30.447144,30.104286,88102700.0,20.159719,12
2010-12-31,30.642857,30.340000,30.490000,30.572857,123432400.0,20.473503,1
2011-12-31,47.180000,46.405716,46.520000,47.081429,111284600.0,31.528688,1
2012-12-31,58.928570,58.428570,58.485714,58.747143,75555200.0,39.340778,1
2013-12-31,79.285713,77.375717,79.117142,78.432854,140129500.0,55.923737,1
2014-12-31,79.575714,78.860001,79.382858,79.018570,58671200.0,67.251503,1
2015-12-31,111.440002,107.349998,111.389999,109.330002,53204600.0,101.963631,1
2016-12-31,105.370003,102.000000,102.610001,105.349998,67649400.0,99.925850,1
2017-12-31,116.330002,114.760002,115.800003,116.150002,28781900.0,112.620964,1
2018-12-31,172.300003,169.259995,170.160004,172.259995,25555900.0,169.712067,1

'Open' 컬럼에서 월별 최대 값으로 재조합하기

In [33]:
stock['Open'].resample('M').max()

Date
2009-12-31     30.447144
2010-01-31     30.701429
2010-02-28     29.170000
2010-03-31     33.799999
2010-04-30     38.840000
2010-05-31     37.691429
2010-06-30     39.669998
2010-07-31     37.869999
2010-08-31     37.548573
2010-09-30     41.997143
2010-10-31     45.495716
2010-11-30     45.864285
2010-12-31     46.602856
2011-01-31     49.764286
2011-02-28     51.542858
2011-03-31     51.628571
2011-04-30     50.714287
2011-05-31     49.962856
2011-06-30     49.838570
2011-07-31     57.227142
2011-08-31     56.825714
2011-09-30     59.948570
2011-10-31     60.251427
2011-11-30     57.458572
2011-12-31     58.127144
2012-01-31     65.084282
2012-02-29     77.365715
2012-03-31     88.339996
2012-04-30     91.418571
2012-05-31     84.357140
2012-06-30     84.029999
2012-07-31     88.281425
2012-08-31     97.141426
2012-09-30    100.344284
2012-10-31     95.892860
2012-11-30     85.459999
2012-12-31     84.807144
2013-01-31     79.117142
2013-02-28     68.501427
2013-03-31     66.491432
2013-04-30     63.128571
2013-05-31     66.424286
2013-06-30     64.745712
2013-07-31     64.998573
2013-08-31     72.815712
2013-09-30     72.314285
2013-10-31     76.610001
2013-11-30     78.497147
2013-12-31     81.807144
2014-01-31     79.382858
2014-02-28     78.000000
2014-03-31     78.074287
2014-04-30     84.820000
2014-05-31     91.139999
2014-06-30     94.730003
2014-07-31     99.330002
2014-08-31    102.860001
2014-09-30    103.099998
2014-10-31    108.010002
2014-11-30    119.269997
2014-12-31    118.809998
2015-01-31    118.400002
2015-02-28    132.940002
2015-03-31    129.250000
2015-04-30    134.460007
2015-05-31    132.600006
2015-06-30    130.660004
2015-07-31    132.850006
2015-08-31    121.500000
2015-09-30    116.580002
2015-10-31    120.989998
2015-11-30    123.129997
2015-12-31    118.980003
2016-01-31    105.750000
2016-02-29     98.839996
2016-03-31    109.720001
2016-04-30    112.110001
2016-05-31     99.680000
2016-06-30     99.250000
2016-07-31    104.269997
2016-08-31    109.629997
2016-09-30    115.190002
2016-10-31    118.180000
2016-11-30    113.459999
2016-12-31    117.519997
2017-01-31    122.139999
2017-02-28    137.380005
2017-03-31    144.190002
2017-04-30    144.470001
2017-05-31    156.009995
2017-06-30    155.250000
2017-07-31    153.750000
2017-08-31    163.800003
2017-09-30    164.800003
2017-10-31    167.899994
2017-11-30    175.110001
2017-12-31    175.029999
2018-01-31    179.369995
2018-02-28    179.259995
2018-03-31    182.589996
2018-04-30    177.809998
2018-05-31    189.490005
2018-06-30    194.139999
2018-07-31    194.990005
2018-08-31    226.509995
2018-09-30    228.990005
2018-10-31    230.779999
2018-11-30    219.050003
2018-12-31    184.460007
Freq: M, Name: Open, dtype: float64

### 5. shifting을 사용한 lead, lag 컬럼 추가

### 6. rolling & expanding